    <!-- main_end-->
    <div class="clear"></div>
</div>
<script type="text/javascript">

	//全局高度监听窗口变化
    $(window).resize(function() {
        $("#layout-mid").css("height", $(window).height() - 75);
        if($(window).width() < 1200){
            if($('#layout-menu').is(':visible') == true){
                $('#layout-menu').hide();
                $('#layout-main').css('margin-left','0px');
            }
        }
    }).resize();

    //隐藏/显示左侧菜单
    $('.ZoomMenu').click(function(e) {
        if($('#layout-menu').is(':visible') == true){
            $('#layout-menu').hide();
            $('#layout-main').css('margin-left','0px');
        }else{
            $('#layout-menu').show();
            $('#layout-main').css('margin-left','220px');
        }
    });

    //左侧菜单折叠监听
    $('#layout-menu>ul.menu>li>p').bind('click', function() {
        if ($(this).next().is(":visible")) {
            $(this).find("span>i:last").removeClass('icon-bottom').addClass('icon-right');
            $(this).next().slideUp('fast').end().addClass("current");;
        } else {
            $(this).find("span>i:last").removeClass('icon-right').addClass('icon-bottom');
            $(this).next().slideDown('fast').end().removeClass("current");;
        }
    });
    
</script>

</body>
</html>