<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{$Think.config.SITE_TITLE}</title>
    <link rel="stylesheet" href="__PUBLIC__/Css/reset.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/admin.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/Css/iconfont.css" type="text/css" />

    <script type="text/javascript" src="__PUBLIC__/sea.js"></script>
    <script type="text/javascript" src="__PUBLIC__/sea.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Jquery/jquery.min.js"></script>
</head>

<body>
<div id="layout-top">
    <div id="layout-nav" class="cl">
        <div class="logo fl">
            {$Think.config.SITE_TITLE}
        </div>
        <div class="nav fl">
            <ul class="float">
                <li class="ZoomMenu zoom"><i class="icon-list"></i></li>
                <foreach name="Think.session.admin_menu" item="top_menu">
                <li><a href="{:U($top_menu['url'])}" <if condition="$top_menu['url'] == $_nav_line[0]['url']">class="current"</if> ><present name="top_menu.icon"><i class="icon-{$top_menu.icon}"></i></present>{$top_menu.name}</a></li>
                </foreach>
            </ul>
        </div>
        <div class="user fr">
            <ul class="float">
                <li>
                    <a href="javascript:void(0);"><i class="icon-user"></i>{$Think.session.admin_info.realname}</a>
                </li>
                <li>
                    <a href="{:U('Admin/Public/logout')}"><i class="icon-exit"></i>退出登录</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="layout-tab" class="cl">
        <div class="search fl tcenter">
            search<i class="icon-search"></i>
        </div>
        <div class="navline fl">
            <a href="{:U('Admin/Index/index')}">
                <i class="icon-home"></i>后台首页
            </a>
            <foreach name="_nav_line" key="_nav_key" item="_nav_value">
            <neq name="_nav_key" value="1">
            <i class="mrt10 mlf10"> / </i>
            <a href="{:U($_nav_value['url'])}">{$_nav_value['name']}</a>
            </neq>
            </foreach>
        </div>
        <div class="action fr">
            <ul class="float">
                <li><a class="AjaxGet" data-url="{:U('Admin/Index/delCache')}" href="javascript:void(0);"><i class="icon-clear"></i>清理缓存</a></li>
                <li><a href="javascript:window.location.reload();"><i class="icon-reload"></i>刷新页面</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="layout-mid">
<!-- main_begin-->